Добро пожаловать в {{ title }}  <br>
Тут собрано {{ books_count }} книг из моей личной коллекции.

<table border="1">
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.author.full_name }}</td>
        <td>{{ book.author.country }}</td>
        <td>{%if book.reader %}
            {{ book.reader }}</td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
